	<div class="container-fluid bg-dark text-warning">
		<div class="row">
			<div class="col">
				<ul class="navbar-nav">
					<li><a class="nav-link" href="">Home</a></li>
					<li><a class="nav-link" href="">Catalogue</a></li>
					<li><a class="nav-link" href="">About</a></li>
					<li><a class="nav-link" href="">FaQ</a></li>
				</ul>
			</div>
			<div class="col">
				<ul class="navbar-nav">
					<li><a class="nav-link" href="">Apartments</a></li>
					<li><a class="nav-link" href="">Mansions</a></li>
					<li><a class="nav-link" href="">Bungalows</a></li>
					<li><a class="nav-link" href="">For Rent</a></li>
					<li><a class="nav-link" href="">For Purchase</a></li>
				</ul>
			</div>
			<div class="col">
				<ul class="navbar-nav">
					<li><a class="nav-link" href="">Partners</a></li>
					<li><a class="nav-link" href="">Sponsors</a></li>
					<li><a class="nav-link" href=""></a></li>
					<li><a class="nav-link" href="">For Rent</a></li>
					<li><a class="nav-link" href="">For Purchase</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<ul class="navbar-nav">
					<li><a class="nav-link" href="">Twitter</a></li>
					<li><a class="nav-link" href="">Facebook</a></li>
					<li><a class="nav-link" href="">Linkedn</a></li>
					<li><a class="nav-link" href="">Instagram</a></li>
				</ul>
			</div>
		</div>
	</div>